<div class="header-container">
  <div class="header-image">
    <img src="../assets/module_federation_logo.png" width="100">
  </div>
  <div class="header-text">
    <h1>Native Federation PoC</h1>
  </div>
</div>
<div class="navi-container">
  <div class="navi-shell">
    <a routerLink="/">APPLICATION SHELL</a>
  </div>
  <div class="navi-mfe1">
    <a routerLink="/mfe1" >MFE1</a>
  </div>
  <div class="navi-mfe2">
    <a routerLink="/mfe2">MFE2</a>
  </div>
  <div class="navi-mfe3">
    <a routerLink="/mfe3">MFE3</a>
  </div>
</div>
<div class="content">
  <router-outlet></router-outlet>
</div>
<div class="footer"></div>
